In [7]:
import pandas as pd

lendo o CSV

In [8]:
url_1 = "E:/growdev/trabalho_final/trabalho prático 2/arquivos/Twitch_game_data.csv"
url_2 = 'E:/growdev/trabalho_final/trabalho prático 2/arquivos/Twitch_global_data.csv'

arquivo_games = pd.read_csv(url_1, encoding='latin1')
arquivo_global = pd.read_csv(url_2, encoding='latin1')

display(arquivo_games)
display(arquivo_global)

,Rank,Game,Month,Year,Hours_watched,Hours_streamed,Peak_viewers,Peak_channels,Streamers,Avg_viewers,Avg_channels,Avg_viewer_ratio
0,1,League of Legends,1,2016,94377226,1362044,530270,2903,129172,127021,1833,69.29
1,2,Counter-Strike: Global Offensive,1,2016,47832863,830105,372654,2197,120849,64378,1117,57.62
2,3,Dota 2,1,2016,45185893,433397,315083,1100,44074,60815,583,104.26
3,4,Hearthstone,1,2016,39936159,235903,131357,517,36170,53749,317,169.29
4,5,Call of Duty: Black Ops III,1,2016,16153057,1151578,71639,3620,214054,21740,1549,14.03
...,...,...,...,...,...,...,...,...,...,...,...,...
17395,196,PokÃ©mon Community Game,3,2023,626465,34435,2048,73,1368,843,46,18.19
17396,197,Veiled Experts,3,2023,621189,9266,27928,338,1996,836,12,67.04
17397,198,The Godfather,3,2023,615938,286,58739,4,61,828,0,2153.63
17398,199,RuneScape,3,2023,612387,26245,3330,70,2508,824,35,23.33
17399,200,Summoners War: Sky Arena,3,2023,607738,11773,11087,46,1319,817,15,51.62

,year,Month,Hours_watched,Avg_viewers,Peak_viewers,Streams,Avg_channels,Games_streamed,Viewer_ratio
0,2016,1,480241904,646355,1275257,7701675,20076,12149,29.08
1,2016,2,441859897,635769,1308032,7038520,20427,12134,28.98
2,2016,3,490669308,660389,1591551,7390957,20271,12234,28.92
3,2016,4,377975447,525696,1775120,6869719,16791,12282,28.80
4,2016,5,449836631,605432,1438962,7535519,19394,12424,28.85
...,...,...,...,...,...,...,...,...,...
82,2022,11,1694262814,2356415,5362892,21744817,88195,41058,26.84
83,2022,12,1674092138,2253152,3866814,21753674,84728,41548,27.00
84,2023,1,1866962462,2512735,5593050,24429476,93349,43611,27.44
85,2023,2,1712025798,2551454,5364876,22482367,96466,42440,26.58
86,2023,3,1790507560,2409835,5314247,24408214,93136,43944,26.25

verificando tipos

In [9]:
arquivo_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17400 entries, 0 to 17399
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              17400 non-null  int64
 1   Game              17399 non-null  object
 2   Month             17400 non-null  int64
 3   Year              17400 non-null  int64
 4   Hours_watched     17400 non-null  int64
 5   Hours_streamed    17400 non-null  int64
 6   Peak_viewers      17400 non-null  int64
 7   Peak_channels     17400 non-null  int64
 8   Streamers         17400 non-null  int64
 9   Avg_viewers       17400 non-null  int64
 10  Avg_channels      17400 non-null  int64
 11  Avg_viewer_ratio  17400 non-null  float64
dtypes: float64(1), int64(10), object(1)
memory usage: 1.6+ MB

subindo os dataframes pro MYSQL

obs.: foi necessário alterar o .info do SQL para aumentar o limite de trafego (fiz através do xampp)

In [10]:
from sqlalchemy import create_engine

In [11]:
conn = create_engine(
    'mysql+mysqlconnector://root:@localhost:3306/stream?', 
    pool_recycle=3600
)

In [12]:
arquivo_games.to_sql(name="games", con=conn, if_exists='replace', index=False)
arquivo_global.to_sql(name="global", con=conn, if_exists='replace', index=False)

87